.uxg-nav {
  position: absolute;
  height: auto;
  width: 300px;
  border: 1px solid #eaeaea;
}

mat-sidenav-container {
  background-color: white;
}

.mat-drawer-container {
  width: 100%
}

.uxg-nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.finastra-logo {
  width: 150px;
  height: auto;
}


